body {
    background-color: #DDD0C8;
    margin:0;
}
.section {
    margin: 7.5%;
    margin-top: 0;
    margin-bottom: 0;
}
.title {
    font-size: 30px;
    text-align: center;
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
h3 {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
h4 {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
p {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
li {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
button {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label, select, option {
    color: #323232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.list-structure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding-bottom: 35px;
}
.list-structure a {
    text-decoration: none;
}
.listblock {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #bbb;
    display: block;
}
.listblock:hover {
    background-color: #d4d4d4;
}
.fade-in {
    opacity: 0;
}
#intro-paragraph {
    padding-bottom: 4%;
}
.search-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
    border: 1px solid #000000;
    background-color: #bbb;
    border-radius: 20px;
}
.search-bar label {
    max-width: 130px;
    margin-left: 10px;
}
.search-bar select {
    width: 285px;
    margin-right: 10px;
}
.centered-content {
    text-align: center;
    margin: 0 auto;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbarelements {
    float: left;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 100%;
}
.navbarelements a {
    display: block;
    color: white;
    text-align: left;
    padding: 20px 0;
    padding-left: 20px;
    text-decoration: none;
}
.navbarelements :hover {
    background-color: rgb(200, 76, 48);
}
.dropdown-menu {
    float: left;
    overflow: hidden;
}
.drop-button {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    border-bottom: 1px solid #bbb;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
.active {
    background-color: #0a4690;
}
.footer {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
}
.content-body {
    margin-top: 75px;
}
.social-icons {
    text-align: center;
    margin: 15%;
    margin-top: 5%;
}
.icon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
    padding: 5px;
}
.course-image {
    display: flex;
    width: 650px;
    height: 390px;
    border: 1px solid #000000;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#color-key {
    width:650px;
    background-color: #E3DEDE;
    border: 1px solid #000000;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#color-key h3 {
    padding-left: 7.5%;
    font-size: 15px;
}
#course-message {
    font-size: small;
    padding-top: 20px;
    padding-bottom: 10px;
}
.textbox {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    visibility: hidden;
}
.coursebox:hover .textbox {
    display: block;
    visibility: visible;
    width:400px;
}
.project {
    margin-bottom: 3%;
    padding: 2%;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #bbb;
    text-decoration: none;
}
.project:hover {
    background-color: #d4d4d4;
}
.results-button {
    text-align: center;
}
.results {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    width: 400px;
    display: inline-block;
}