body {
    background-color: blanchedalmond;
    margin:0;
}
section {
    margin: 7.5%;
    margin-top: 0;
}
.list-structure {
    display: flex;
    justify-content: space-between;
}
.listblock {
    padding: 10%;
    padding-top: 0;
    padding-bottom: 0%;
    width: 100%;
}
#intro-paragraph {
    padding-bottom: 4%;
}
#search-bar {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}
#search-bar label {
    margin-bottom: 10px;
}
#search-bar select {
    margin-bottom: 10px;
    width: 285px;
}
.centered-content {
    text-align: center;
    margin: 0 auto;
}
.title {
    font-size: xx-large;
    text-align: center;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbarelements {
    float: left;
    border-right: 1px solid #bbb;
    width: 100px;
}
.navbarelements a {
    display: block;
    color: white;
    text-align: center;
    padding: 10% 0%;
    text-decoration: none;
}
.navbarelements :hover {
    background-color: rgb(200, 76, 48);
}
.active {
    background-color: #0a4690;
}
.content-body {
    margin-top: 75px;
}
.social-icons {
    text-align: center;
    margin: 15%;
    margin-top: 5%;
}
.icon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
    padding: 5px;
}
.course-image {
    width: 650px;
    height: 390px;
    border: 1px solid #000000;
    margin: 0 auto;
}
.textbox {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    visibility: hidden;
}
.coursebox:hover .textbox {
    display: block;
    visibility: visible;
    width:400px;
}
.color-key {
    width:650px;
    background-color: #E3DEDE;
    border: 1px solid #000000;
    margin: 0 auto;
}
.project {
    margin-bottom: 3%;
    padding: 2%;
    border: 1px solid #000000;
    background-color: #bbb;
}